@model Libreria.Entidades.Libro

@{
    ViewData["Title"] = "Create";
}

<h4>Nuevo Libro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly="true" value="0" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                @Html.DropDownList("Genero", ViewBag.ListaGenero, "Elija Genero", new{@class="form-select"})
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AñoPublicacion" class="control-label"></label>
                <input asp-for="AñoPublicacion" class="form-control" />
                <span asp-validation-for="AñoPublicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editorial" class="control-label"></label>
                @Html.DropDownList("Editorial", ViewBag.ListaEditorial, "Elija Editorial", new{@class="form-select"})
                <span asp-validation-for="Editorial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutorId" class="control-label"></label>
                @Html.DropDownList("AutorId", ViewBag.ListaAutor, "Elija Autor", new{@class="form-select"})
                <span asp-validation-for="AutorId" class="text-danger"></span>
            </div>
            <br />
            <div >
                <input type="submit" value="Crear" class="btn btn-outline-success" />
                <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("Index")'">
                    Atras
                </button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
